
.about-container {
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding for spacing */
}

.about-heading {
  font-size: 24px; /* Adjust heading font size */
  margin-bottom: 10px; /* Add some spacing below the heading */
  text-decoration: underline;
}

.about-text {
  font-size: 16px; /* Adjust paragraph font size */
  line-height: 1.5; /* Add some line height for better readability */
}

.map-container {
  margin-top: 20px; /* Add some spacing above the map */
}

.google-map {
  border: none; /* Remove default iframe border */
}
@media (max-width: 768px) {
  .titlebar {
    height: 8vh; /* Reduce titlebar height */
  }

  .navbar {
    padding: 5px 10px; /* Adjust navbar padding */
  }

  .navbar .Name {
    font-size: 22px; /* Decrease font size */
  }

  .navbar li {
    margin-left: 10px; /* Decrease margin between navbar items */
  }

  .about-container {
    padding: 10px; /* Adjust padding for smaller screens */
  }

  .about-heading {
    font-size: 20px; /* Decrease heading font size */
  }

  .about-text {
    font-size: 14px; /* Decrease paragraph font size */
  }
}
