.boddy {
  flex: 1; /* Allow boddy to expand and fill the available space */
  display: flex;
  margin-top: 13vh; /* Adjust the top margin as needed */
  margin-bottom: 20px; /* Adjust the bottom margin as needed */
  overflow: hidden;

}
body{
    overflow-x: hidden;
    background-image: url(../images/bg.png);
    background-size: cover; 
    background-color: #f0f0f0;
    background-attachment: fixed; 
}